.comments {
    
    ol {
        margin: 0;
        padding: 0;
        
        li {
            list-style-type: none;
            
            .children {
                margin-left: 90px;
            }
        }
    }
}

.comment-body {
    border-top: 1px solid #eaeaea;
    padding-top: 36px;
    position: relative;
    
    .avatar {
        margin-top: 0;
        float: left;
        max-width: 72px;
        max-height: 72px;
        display: block;
        -webkit-border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 50%;
        -moz-background-clip: padding;
        border-radius: 50%;
        background-clip: padding-box;
        margin: 0 35px 0 0;
    }
    
    .comment-content {
        margin-left: 50px;
        padding: 0 18px 18px 18px;
        position: relative;
    }
    
    .reply {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 36px;
    }
}

.comment-meta-item {
    
    span {
        font-size: 14px;
        
        a {
            font-size: 14px;
        }
    }
}

.comment-metadata {
    
    a {
        
        time {
            font-size: 14px;
        }
    }
}