// Colour Palette
$clouds                 : #ecf0f1;
$off-white              : #faf9f5;
$off-white-dark         : #f2f1ed;
$cream                  : #eae9e6;
$light-grey             : #d9d6d0;
$medium-grey            : #a09a92;
$darker-grey            : #787065;
$charcoal               : #363431;
$black-ish              : #26231e;
$flat-green             : #1abc9c;
$flat-blue              : #3498db;
$flat-blue-hover        : #2980b9;

// Font Family
$serif                  : Georgia, serif;
$sans-serif             : Verdana, Geneva, sans-serif;
$mono                   : 'Source Code Pro', Courier, mono;

// Font Weights
$light                  : 300;
$normal                 : 400;
$semibold               : 500;
$bold                   : 700;

// Base Font for HTML
$base-font-size         : 17px;

// Layout widths
$outer-content-width    : 960px;
$inner-content-width    : 740px;
$nav-height             : 62px;

// Paragraph Styles
$paragraph-color        : $charcoal;
$paragraph-size         : 1.063rem; // 17px
$paragraph-line-height  : 1.5em;
$paragraph-margin       : 1.5em;

// Header Styles
$header-color           : $darker-grey; // dark grey
$header-size            : 2.5rem; // 40px
$header-line-height     : 1.25em;
$header-margin          : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color       : $medium-grey;
$blockquote-size        : 1.353rem; // 23px
$blockquote-line-height : 1.5em;
$blockquote-margin      : $paragraph-margin * 1.5;

// Links
$link-color             : #4eaff6;  // blue
$link-color-hover       : darken($link-color, 20%);
$link-color-active      : darken($link-color, 20%);

// Used in Tables
$border-color           : $off-white-dark; // light grey

// Breakpoints
$tablet                 : 800px;
$phone                  : 640px;