.site-info {
  font-size: 14px;
  color: $darker-grey;
  margin: 1rem auto;
  max-width: 680px;
  padding: 0;
  width: auto;
  text-align: center;
}

.site-footer {
  border-top: 1px solid $cream;
  overflow: auto;
}