.site-header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: $flat-green;

  .container {
    display: flex;
    flex-flow: row wrap;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .site-title {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto 0 0;
  }
}