.site-nav {
  
  .menu {
    display: none;
  }
}

.hamburger {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  border: 0;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: white;
  background-color: transparent;

  .hamburger-box {
    position: relative;
    display: inline-block;
    width: cre(25);
    height: cre(20);
  }

  .hamburger-inner {
    background-color: white;
    position: absolute;
    top: 4px;
    left: 0;
    width: cre(25);
    height: cre(2);
    text-indent: -9999px;

    &::before {
      content: '';
      display: block;
      background-color: white;
      position: absolute;
      top: 16px;
      width: cre(25);
      height: cre(2);
    }

    &::after {
      content: '';
      display: block;
      background-color: white;
      position: absolute;
      top: 8px;
      width: cre(25);
      height: cre(2);
    }
  }
}