.footer-link-wrapper {
    background-color: $orange; // $flat-green-hover
    padding: 1rem 0;
}


.footer-links {
    text-align: center;
    margin: 1rem auto;
    
    a {
        color: $medium-grey;
        padding: 6px 8px;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.site-info {
    font-size: 14px;
    color: $darker-grey;
    margin: 1.5rem auto;
    max-width: 680px;
    padding: 0;
    width: auto;
    text-align: center;
}

.site-footer {
    overflow: auto;
}