.site-header {
    .site-branding {
        
        .site-title {
            margin: 0;
        }
    }
    
    .title-block {
        margin: 4rem auto;
        max-width: 680px;
        padding: 0;
        width: auto;
        text-align: center;
    }
}

.nav-bar {
    background-color: white;
    
}