.content-area {
    margin: 3rem auto;
    max-width: 740px;
    padding: 0;
    width: auto;
}

.post {
    background-color: white;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    
    .entry-header {
        padding: 3em 3em 0;
        text-align: center;
        
        .entry-meta {
            color: $medium-grey;
            margin-bottom: 0.5rem;
        }
        
        .entry-title {
            font-family: $serif;
            margin-top: 0;
            color: $darker-grey;
            
            a {
                font-size: $header-size;
                color: $darker-grey;
                text-decoration: none;
                
                &:hover {
                    color: $link-color;
                }
            }
        }
    }
    
    .entry-content {
        padding: 0 3em 1em;
        
        p {
            font-size: 20px;
            line-height: 1.618;
        }
    }
}

/* "Read more" link */
.more-link {
    color: #a09a92;
    display: inline-block;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
    text-decoration: none;
    
    &:visited {
        color: #a09a92;
        display: inline-block;
        font-style: italic;
        text-align: center;
        text-transform: lowercase;
        width: 100%;
        text-decoration: none;
    }
    
    &:hover {
        color: $link-color;
    }
    
    &:before {
        content: "{";
        display: inline;
        font-size: 1.5em;
        font-style: normal;
        padding: 0 10px;
        vertical-align: -0.15em;
    }
    
    &:after {
        content: "}";
        display: inline;
        font-size: 1.5em;
        font-style: normal;
        padding: 0 10px;
        vertical-align: -0.15em;
    }
}

/* In-page or in-post navigation */
.pagination {
    float: none;
    margin-top: 2rem;
    overflow: auto;
    
    .nav-links {
        text-align: center;
        
        .page-numbers {
            margin-left: .25em;
            margin-right: .25em;
        }
        
        a {
            font-size: 14px;
        }
    }
    
    a {
        text-decoration: none;
        color: $medium-grey;
        text-transform: uppercase;
        
        &:hover {
            color: $link-color;
        }
    }
}

.prev:before,
.next:after {
  border: solid transparent 4px;
  content: "";
  display: inline-block;
  height: 0;
  margin: 0 0.5rem;
  top: 0.8em;
  width: 0;
}

.prev:before {
  border-left: 0;
  border-right-color: $medium-grey;
}

.next:after {
  border-left-color: $medium-grey;
  border-right: 0;
}

/* Entry content */
article + article {
  margin-top: 6rem;
}