.page {
    background-color: $off-white;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    padding: 3em 3em 3em;
}