.shadow-box {
    background-color: white;
    margin-top: 2rem;
    padding: 1em 3em 3em;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
}

.entry-footer {
    font-size: 14px;
    border-top: 1px solid $cream;
    color: $medium-grey;
    padding: 2em 3em;
}

.cat-links {
    margin-right: 1rem;
    
    a {
        font-style: italic;
    }
}

.tag-links {
    @extend .cat-links;
}