.shadow-box {
    background-color: white;
    margin-top: 2rem;
    padding: 1em 3em 3em;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
}

.entry-footer {
    font-size: 14px;
    border-top: 1px solid $cream;
    color: $medium-grey;
    padding: 2em 3em;
}

.cat-links {
    margin-right: 1rem;
    
    a {
        font-style: italic;
    }
}

.tag-links {
    @extend .cat-links;
}

.author-info {
    
    h4 {
        border-bottom: 1px solid $cream;
    }
    
    .author-avatar {
        float: left;
        
        .avatar {
            margin-top: 0;
            float: left;
            max-width: 72px;
            max-height: 72px;
            display: block;
            -webkit-border-radius: 50%;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 50%;
            -moz-background-clip: padding;
            border-radius: 50%;
            background-clip: padding-box;
            margin: 0 35px 0 0;
        }
    }
    
    .author-description {
        margin-left: 90px;
    }
}