label {
  font-size: 14px;
  line-height: 1.75;
  margin: 18px 0 0;
  margin: 0px 0px 5px 0px;
}
form p {
  margin: 18px 0px 0px 0px;
  font-weight: 600;
}
form img.ajax-loader {
  position: absolute;
  left: 50%;
  margin-left: -30px !important;
  bottom: -25px;
}
input,
textarea,
select,
.seldiv,
.select2-choice,
.select2-selection--single {
  display: block;
  font-size: 14px;
  line-height: initial;
  margin: 9px 0px 0px 0px;
  padding: 10px 15px 10px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-weight: normal;
  border: 1px solid #eaeaea;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0;
  border-style: solid;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="submit"] {
  display: inline-block;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-size: 12px;
  padding: 13px 31px 13px 31px;
  text-align: center !important;
  vertical-align: middle;
  background-image: none;
  border-radius: 2px;
  outline: none;
  white-space: nowrap;
  -webkit-text-stroke: 0px;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  text-align: center;
  line-height: normal;
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "uncodeicon";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 1.2em;
}

input[type=radio] {
  border-radius: 50%;
}

input[type=radio]:checked:before {
  content: "";
  border-radius: 100%;
  width: 50%;
  height: 50%;
}
input[type=checkbox]:checked:before {
  content: "\f00c";
}
input[type="file"],
input[type="range"] {
  background-color: transparent !important;
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: auto;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
  resize: none;
  border: 1px solid #eaeaea;
}

select {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-style: solid;
  border-color: transparent;
  -moz-appearance: none;
  text-overflow: "";
  outline: none;
  background-position: 100% center;
  background-repeat: no-repeat;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}


button[disabled],
html input[disabled] {
  cursor: not-allowed;
}