// Lists
ul, ol {
  margin: $paragraph-margin 0 0 20px;

  li {
    margin-top: 10px;
    line-height: $paragraph-line-height;
    color: $paragraph-color;
  }

  ul, ol {
    margin-top: 0;
  }
}

ul {

  li {
    list-style: disc;
  }

  ul {

    li {
      list-style: circle;
    }
  }
}

ol {

  li {
    list-style: decimal;
  }
}